@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #405e56; */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(30%2c 145%2c 143%2c 1)'%3e%3c/rect%3e%3cpath d='M507.164%2c303.829C553.963%2c304.218%2c596.518%2c276.259%2c618.627%2c235.009C639.605%2c195.87%2c633.931%2c148.717%2c610.529%2c110.978C588.42%2c75.324%2c549.117%2c55.072%2c507.164%2c55.256C465.546%2c55.439%2c426.999%2c76.329%2c405.36%2c111.879C382.795%2c148.952%2c378.53%2c194.841%2c398.865%2c233.182C420.51%2c273.993%2c460.97%2c303.445%2c507.164%2c303.829' fill='rgba(159%2c 247%2c 127%2c 0.66)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M432.98622879935476 221.1021706460057L438.324042511175 322.95372369487654 534.8377818482256 215.76435693418546z' fill='rgba(159%2c 247%2c 127%2c 0.66)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M457.90758281534835 448.67290231002596L402.701573637627 429.6639489306138 401.79114815736943 521.9774393869019z' fill='rgba(159%2c 247%2c 127%2c 0.66)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1260.7280372689756 196.5446366325965L1293.2139470229304 285.79894013202795 1349.982340768407 164.05872687864175z' fill='rgba(159%2c 247%2c 127%2c 0.66)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M231.1556051230137 314.6732534575222L123.50562138189375 341.40446441381675 189.6327662480282 412.31714545152863z' fill='rgba(159%2c 247%2c 127%2c 0.66)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M340.415%2c582.381C378.679%2c583.165%2c414.077%2c562.228%2c433.404%2c529.194C452.926%2c495.825%2c453.251%2c454.984%2c434.836%2c420.992C415.477%2c385.258%2c381.044%2c356.553%2c340.415%2c357.55C301.08%2c358.515%2c271.726%2c390.466%2c253.692%2c425.437C237.305%2c457.215%2c236.508%2c494.22%2c253.8%2c525.514C271.704%2c557.915%2c303.405%2c581.623%2c340.415%2c582.381' fill='rgba(159%2c 247%2c 127%2c 0.66)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
